
<!DOCTYPE html> 
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> My Portfolio</title>
    <link rel="stylesheet" href="static/style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <!-- Move to up bottom -->
  <div class="scroll-button">
    <a href="#home"><i class="fas fa-arrow-up"></i></a>
  </div>
  
  <!-- navigation menu -->
  <nav>
    <div class="navbar">
      <div class="logo"><a href="#">Portfolio.</a></div>
      <ul class="menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#awards">Awards</a></li>
        <li><a href="\contact">Contact</a></li>
        <div class="cancel-btn">
          <i class="fas fa-times"></i>
        </div>
      </ul>
      <div class="media-icons">
        <a href="#"><i class="fab fa-google"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
  </nav>

  <!-- Home Section Start -->
  <section class="home" id="home">
    <div class="home-content">
      <div class="text">
        <div class="text-one">Hello,</div>
        <div class="text-two">I'm XYZ</div>
        <div class="text-three">Software Developer</div>
      </div>
      <!-- <div class="button">
        <button>Hire Me</button>
      </div> -->
    </div>
  </section>

  <!-- About Section Start -->
  <section class="about" id="about">
    <div class="content">
      <div class="title"><span>About Me</span></div>
      <div class="about-details">
        <div class="left">
          <img src="static/profile.jpg" alt="Portfolio">
        </div>
        <div class="right">
          <div class="topic"></div>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod repellendus molestiae fuga ducimus, illo quia corrupti dicta ea quas! Corporis temporibus iste accusantium error recusandae magnam eum modi eligendi, laboriosam harum rerum in, minima illum culpa ipsa quae exercitationem, adipisci veritatis hic repudiandae. Excepturi obcaecati sit omnis magnam ipsam magni.</p>
          <div class="button">
            <button>Download CV</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- My Skill Section Start -->
  <section class="skills" id="skills">
    <div class="content">
      <div class="title"><span>My Experience and Skills</span></div>
      <div class="skills-details">
        <div class="text">
          <div class="topic"></div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum debitis consectetur provident. Deleniti fugit qui dolore illum excepturi neque nemo eaque dolorem? Eius numquam suscipit culpa. Autem sequi voluptates expedita unde laboriosam, quaerat quae voluptatibus harum ullam rem excepturi voluptate praesentium ipsum. Alias cumque amet error molestias beatae voluptatum saepe.</p>
          <div class="experience">
            <div class="num">num</div>
            <div class="exp">Years Of <br> Experience</div>
          </div>
        </div>
        <div class="boxes">
          <div class="box">
            <div class="topic">Python</div>
            <div class="per">80%</div>
          </div>
          <div class="box">
            <div class="topic">SQL</div>
            <div class="per">80%</div>
          </div>
          <div class="box">
            <div class="topic">Frontend Designing</div>
            <div class="per">50%</div>
          </div>
          <div class="box">
            <div class="topic">Java</div>
            <div class="per">30%</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- My awards Section Start -->
  <section class="awards" id="awards">
    <div class="content">
      <div class="title"><span>Achievements and Awards</span></div>
      <div class="boxes">
        <div class="box">
          <div class="icon">
            <i class="fa fa-trophy" aria-hidden="true"></i>
          </div>
          <div class="topic">Best Team Award</div>
          <p>Recieved on customer satisfaction and increased productivity</p>
        </div>
        <div class="box">
          <div class="icon">
            <i class="fa fa-shield" aria-hidden="true"></i>
          </div>
          <div class="topic">On Spot Award</div>
          <p>Recieved on solving critical issue and handling the customer</p>
        </div>
        <div class="box">
          <div class="icon">
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <div class="topic">Star Performer</div>
          <p>Recieved on good performance among the learner group during training</p>
        </div>
       
      </div>
    </div>
  </section>
  <!-- cont Me Section Start -->
  <section class="cont" id="cont">
    <div class="content">
      <div class="title"><span>Certifications</span></div>
      <div class="text">
        <div class="topic"><p>Certified</p></div>
        
       
        <div class="title"><span>Softwares</span> </div>
          <div class="tools">
          <ul>
            <li>SQLDBX</li>
            <li>ServiceNow</li>
            <li>Jive</li>
            <li>LDAP</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer Section Start -->
  <footer>
    <div class="text">
      <span>Created By <a href="#">Cyourname</a> | © 2021 All Rights Reserved.</span>
    </div>
  </footer>

   

  <script src="static/script.js"></script>
</body>
</html>


